<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMaps</key>
	<string>AIzaSyBnd7KJ3X2GmoiRVHJ__d6rJI2rCmRF2no</string>
	<key>Almapp</key>
	<dict>
		<key>uid</key>
		<string>102752c7272f1cd5da2535a08acc8145347eef1ac6332b8550bf1f079446879a</string>
		<key>secret</key>
		<string>14ff2ff1002f53f8b797efccf04bf3082f6eb854ac20f4af9b3563eb2072322e</string>
	</dict>
	<key>GoogleApi</key>
	<dict>
		<key>uid</key>
		<string>1053654147449-s381161juabk3s1ut7kadbh8tjaqa5o4.apps.googleusercontent.com</string>
		<key>secret</key>
		<string>WwKf9m_1eYl5ZMvDalNnvMGK</string>
	</dict>
</dict>
</plist>
