<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMaps</key>
	<string>AIzaSyBnd7KJ3X2GmoiRVHJ__d6rJI2rCmRF2no</string>
	<key>Almapp</key>
	<string>DevelopmentKey</string>
</dict>
</plist>
